{% extends 'layoutEmail.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}

    <h1>Nouvel épisode {{ episode.title }} créer</h1>

    <p>Salut, le nouvel épisode {{ episode.title }} est créer sur le site Wild Series</p>

    <p>Synopsis : {{episode.synopsis }} </p>

{% endblock %}