{% extends 'base.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Création Saison</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">Retour à la liste</a>
{% endblock %}
